html {
  background: url(img/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
}
body {
  background: rgba(255, 255, 255, 0.8);
  margin: 25px auto;
  width: 600px;
  padding: 25px 125px 50px;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
a {
  text-decoration: none;
  color: rgb(141, 56, 56);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#bronze {
  color: #af651a;
}
#silver {
  color: rgb(100, 99, 99);
}
#gold {
  color: rgb(190, 130, 18);
}
hr {
  border: solid;
  height: 0.1px;
}
